/* Custom Props */
:root {
  --blue: #3e5efe;
  --text-color: #2a2a33;
  --dark: #141822; 
}

/* Font Face */
@font-face {
  font-family: 'Inter 18pt';
  src: url('Inter18pt-Regular.woff2') format('woff2'),
      url('Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('Inter18pt-Bold.woff2') format('woff2'),
      url('Inter18pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* Global style */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  overflow-wrap: unset;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* Container */
.container {
  width: 100%;
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* Header */
.site-header {
  border-bottom: 1px solid #eaeaea;
}

.site-header__container {
  display: flex;
}

.site-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: auto;
}

.site-header__logo img {
  display: block;
}

.site-header__buttons {
  display: flex;
  align-items: center;
}

.btn {
  padding: 12px 15px;
  border: 0;
  background-color: var(--blue);
  color: #fff;
  border-radius: 32px;
  font-size: 14px;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 12px;
}


/* Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f3fc;
}
.hero-container {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.hero__link-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  margin-bottom: 18px;
}

.hero__link-checker svg {
  width: 30px;
  height: 30px;
}

.hero__title {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
}

.hero__text {
  font-size: 24px;
  font-weight: 400;

}

.hero__input-divider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__input {
  width: 600px;
  height: 45px;
  border: 1px solid var(--text-color); 
  margin-right: 14px;
  border-radius: 8px;
  padding: 8px;
  outline: none;
}


/* About */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.about__text {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 50px;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__content-img{
  margin-right: 40px;
}

.about__content-description {
  display: flex;
  flex-direction: column;
}

.content-description__heading {
  font-size: 20px;
  font-weight: 400;
}

.content-description__text {
  font-size: 16px;
  font-weight: 400;
}


/* Why */
.why {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.why__title {
  font-size: 36px;
  font-weight: 700;
}

.why__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why__content-list {
  width: 560px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.content-list__item {
  margin-top: 0;
  margin-bottom: 20px;
  border-left: 2px solid var(--blue);
  padding: 10px 20px;
}

.content-list__item p {
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
}

.content-list__item span {
  font-size: 16px;
}

.content-list__item-toggle {
  display: none;
}

.why__img {
  width: 555px;
  height: 555px;
}


/* What */
.what {
  padding-top: 40px;
  padding-bottom: 40px;
}

.what-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what__title {
  font-size: 34px;
}

.what__text {
  font-size: 18px;
  width: 80%;
}


/* How */
.how {
  padding-top: 70px;
  padding-bottom: 50px;
}

.how-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how__title {
  font-size: 36px;
}

.how__text {
  font-size: 18px;
}

.how__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.how__content-item {
  width: 30%;
  padding: 30px 25px;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
}

.how__content-item span {
  font-size: 24px;
  border-bottom: 3px solid var(--blue);
  color: var(--blue);
}


/* fqa */
.fqa {
  padding-top: 70px;
  padding-bottom: 70px;
}

.fqa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fqa__title {
  font-size: 36px;
  margin-top: 0;
}

.fqa__list {
  width: 70%;
}

.fqa__list-item {
  list-style: none;
  padding: 20px 20px 0px;
  border: 1px solid #e1e1e1;
  border-radius: 16px;
  margin-bottom: 15px;
  position: relative;
}

.fqa__list-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
}


.fqa__list-item h4 {
  font-size: 20px;
  font-weight: 400;
}

.fqa__paragraph {
  display: none;
}
.fqa__paragraph.fqa__paragraph-event {
  display: block;
}


/* footer */
.footer {
  background-color: var(--dark);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer__title {
  color: #fff;
  font-size: 20px;
}

.footer__social {
  display: flex;
  justify-content: start;
}

.footer__social-item {
  list-style: none;
  padding: 0px;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-item img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer__divider {
  width: 100%;
}

.footer__text {
  color: #fff;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}