/* Custom Props */
:root {
  --blue: #3e5efe;
  --text-color: #2a2a33;
  --dark: #141822; 
}

/* Font Face */
@font-face {
  font-family: 'Inter 18pt';
  src: url('Inter18pt-Regular.woff2') format('woff2'),
      url('Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter 18pt';
  src: url('Inter18pt-Bold.woff2') format('woff2'),
      url('Inter18pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* Global style */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* Container */
.container {
  width: 100%;
  max-width: 1250px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* Header */
.site-header {
  border-bottom: 1px solid #eaeaea;
}

.site-header__container {
  display: flex;
}

.site-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: auto;
}

.site-header__logo img {
  display: block;
}

.site-header__buttons {
  display: flex;
  align-items: center;
}

.btn {
  padding: 12px 15px;
  border: 0;
  background-color: var(--blue);
  color: #fff;
  border-radius: 32px;
  font-size: 14px;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 12px;
}


/* Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #f1f3fc;
}
.hero-container {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.hero__link-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  margin-bottom: 18px;
}

.hero__link-checker svg {
  width: 30px;
  height: 30px;
}

.hero__title {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
}

.hero__text {
  font-size: 24px;
  font-weight: 400;

}

.hero__input-divider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__input {
  width: 600px;
  height: 45px;
  border: 1px solid var(--text-color); 
  margin-right: 14px;
  border-radius: 8px;
  padding: 8px;
  outline: none;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}